
body{
    background-image: url(Internet_map_1024.jpg);
}
div{
    display: block;
    width: 25%;
    margin:auto;
   /* background-color: aliceblue;
    box-shadow:  2px 5px 5px 1px;
    
    outline: solid ,thin , black;
    */
}
a:hover{
    
    color: blue;
    text-shadow: 1px 1px 1px black;
}
a{
    color:red;
    text-decoration: none;
    
}
#titulo{
    text-align:center;

}
h1{
    color: red;
}
h2{
    color: red;
}
h3{
    color: red;
}

